[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
flask = "*"
waitress = "*"
bcrypt = "*"
flask-login = "*"
flask-sqlalchemy = "*"
requests = "*"

[requires]
python_version = "3.6"
