[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
flask = "*"
waitress = "*"
bcrypt = "*"
flask-login = "*"
flask-sqlalchemy = "*"
requests = "*"
tropo-webapi-python = {git = "https://github.com/chadmiller/tropo-webapi-python.git", ref = "8f584e76f6272b8625a6529817cd56be0739b55c", editable = true}
pyyaml = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
