{% extends '_main.html' %}

{% set page = 'about' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Robin</h1>
            <h2>Centralized source for Immigrant services to increase synergies between service providers.</h2>

            <p>
                By opting into this program service providers you go to will be able to see relevant data about your
                past experiences to help you receive a higher quality of service in the future.
            </p>
            <p>
                There are over 125,000 foreign-born residents in the St. Louis Metro area, each with unique needs and
                paths through the system. When you get them to register with Robin, you can help us build an idea of
                the support networks most FB residents utilize, and in return it provides them a way to provide you
                feedback on what they thought of the services rendered.
            </p>
            <p>
                The most beneficial use of this is the shared case-notes and outstanding appointments view. This is a
                place you can add to after any meetings or interactions with those individuals where you can give
                everyone who is working with them an update on what occurred.
            </p>
            <p>
                A use case of this would be:<br>
                You are with a client who has lost their Social Security card, and they have to obtain a new one. They
                go to a urgent care clinic for a procedure, and the social worker there checks this system, and finds
                the existing notes, and updates it with more information. This would help decrease the double work
                required by them also attempting to assist them with filling for a replacement social security card.
            </p>
        </div>
    </div>
</div>
{% endblock %}
