{% extends '_main.html' %}

{% set page = 'home' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Robin</h1>
    <h2>Your centralized service portal for foreign-born individuals</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Opting into Robin allows you to share relevant data with service providers instead of having to start new every
        time. By allowing service providers to access your data and see what has or hasn't worked well for you in the
        past, you can recieve a better and easier experience.
      </p>
    </div>
  </div>
</div>
{% endblock %}
