{% extends '_main.html' %}

{% set page = 'lookup' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
            <h1>Find Person</h1>

            {% for alert in get_flashed_messages() %}
            <div class="alert alert-danger">
                {{ alert }}
            </div>
            {% endfor %}

            <form method="POST" action="{{ url_for('person.find') }}">
                <div class="form-group">
                    <label for="person-id">Person ID</label>
                    <input type="text" class="form-control" id="person-id" name="person-id" placeholder="Person ID">
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Find</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12 col-md-4 offset-md-4">
            <p>
                New Person?
            </p>

            <a href="{{ url_for('person.add') }}" class="btn btn-secondary">Add</a>
        </div>
    </div>
</div>

<div id="input-helper" style="display: none; background-color: lightgray; position: fixed; padding: 10px; right: 0; bottom: 0; height: 100px; width: 300px;">
    <h2>Input Helper</h2>

    <div>
        No suggestions
    </div>
</div>

<script src="{{ url_for('static', filename='js/letters.js') }}"></script>
<script>
    new LetterSuggestor('input[name$="-name"]');
</script>
{% endblock %}
