{% extends '_main.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h1>{{ person.first_name }} {{ person.last_name }} (ID {{ person.id }})</h1>

            <dl class="row">
                <dt class="col-md-4">Email</dt>
                <dd class="col-md-8">{{ person.email }}</dd>

                <dt class="col-md-4">Phone</dt>
                <dd class="col-md-8">{{ person.phone }}</dd>

                <dt class="col-md-4">Country</dt>
                <dd class="col-md-8">{{ person.origin_country }}</dd>

                <dt class="col-md-4">Prefered Language</dt>
                <dd class="col-md-8">{{ person.languages[0].name }}</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
